.nk-block{
  display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.section_5-content{
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}
.section_5-slider-trumb{
  display: inline-block;
  width: 100%;
  left: 0;
  height: 4px;
  background-color: #00e4ff;
  position: relative;
  -webkit-box-shadow: 0 0 6px 1px #00e4ff;
  -moz-box-shadow: 0 0 6px 1px #00e4ff;
  box-shadow: 0 0 6px 1px #00e4ff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#section_5-slider-circle{
  position: relative;
}
#section_5-slider-circle .data_cir{
  top: 0;
  position: absolute;
  margin-left: -8px;
  margin-top: -19px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #00e4ff;
  border: 4px solid #000;
  -webkit-box-shadow: 0 0 6px 2px #00e4ff;
  -moz-box-shadow: 0 0 6px 2px #00e4ff;
  box-shadow: 0 0 6px 2px #00e4ff;
}
.cir_0{
  left: 10%;
}
#section_5-slider-circle .data_cir:nth-child(2n+1)::before{
  top: -44px;
}
#section_5-slider-circle .data_cir:nth-child(2n) .data_cir-content .roadmap_img{
  order: -1;
}
#section_5-slider-circle .data_cir::before{
  content: '';
  opacity: .6;
  position: absolute;
  display: block;
  width: 1px;
  height: 40px;
  background-color: #00e4ff;
  left: -webkit-calc(50% - 1px);
  left: -moz-calc(50% - 1px);
  left: calc(50% - 1px);
}
#section_5-slider-circle .data_cir:nth-child(2n+1) .data_cir-content {
  bottom: 44px;
  -webkit-transform: translateY(-100%) translateX(-18%);
  -ms-transform: translateY(-100%) translateX(-18%);
  -moz-transform: translateY(-100%) translateX(-18%);
  -o-transform: translateY(-100%) translateX(-18%);
  transform: translateY(-100%) translateX(-18%);
}
#section_5-slider-circle .data_cir-content{
  position: relative;
  width: 200px;
  height: auto;
  display: inline-block;
  margin-left: -60px;
  text-align: center;
}
#section_5-slider-circle .data_cir-content>span{
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}
#section_5-slider-circle .data_cir-content span{
  font-size: 13px;
  color: #fff;
  letter-spacing: 0;
  width: 100%;
  line-height: 18px;
}


#section_5-slider-circle .data_cir-content span{
  font-size: 13px;
  color: #fff;
  letter-spacing: 0;
  width: 100%;
  line-height: 18px;
}
#section_5-slider-circle .data_cir .data_cir-content .roadmap_img{
  width: 50px;
    height: 50px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #00e4ff;
    -webkit-box-shadow: 0 0 6px 1px rgba(0, 228, 255, .5);
    -moz-box-shadow: 0 0 6px 1px rgba(0, 228, 255, .5);
    box-shadow: 0 0 6px 1px rgba(0, 228, 255, .5);
}
#section_5-slider-circle .data_cir .data_cir-content .roadmap_img img{
 max-width: 100%;
 width: auto;
 height: auto;
}
.cir_0{
  left: 10%;
}
.cir_1{
  left: 20%;
}

.cir_2 {
  left: 30%;
}
#cir_3 {
  left: 40%;
}
.cir_4 {
  left: 50%;
}
.cir_5 {
  left: 60%;
}
.cir_6 {
  left: 70%;
}
.cir_7 {
  left: 80%;
}
.cir_8 {
  left: 90%;
}
#section_5-slider-circle .data_cir.next{
  background-color: #000;
  border: 4px solid #000;
  -webkit-box-shadow: 0 0 6px 2px #00e4ff;
  -moz-box-shadow: 0 0 6px 2px #00e4ff;
  box-shadow: 0 0 6px 2px #00e4ff;
}
#section_5-slider-circle .data_cir-content span{
  font-size: 13px;
  color: #fff;
  letter-spacing: 0;
  width: 100%;
  line-height: 18px;
}
#section_5-slider-circle .data_cir:nth-child(2n+1) .roadmap_content_info{
  margin-bottom: 20px;
}
#section_5-slider-circle .data_cir .data_cir-content ul{
  text-align: left;
  position: relative;
}
#section_5-slider-circle .data_cir .data_cir-content ul::before{
    content: '';
    position: absolute;
    border-left: 1px solid #00e4ff;
    left: -14px;
    opacity: .2;
    width: 45%;
    height: -webkit-calc(100% + 37px);
    height: -moz-calc(100% + 37px);
    height: calc(100% + 37px);
}
#section_5-slider-circle .data_cir:nth-child(2n) .data_cir-content ul::before {
  border-top: 1px solid #00e4ff;
  margin-top: -46px;
}
#section_5-slider-circle .data_cir:nth-child(2n+1) .data_cir-content ul::before{
  border-bottom: 1px solid #00e4ff;
  margin-top: 10px;
}

#section_5-slider-circle .data_cir .data_cir-content ul li {
  padding-left: 5px;
  list-style: disc;
  color: #00e4ff;
}
@media screen and (max-width: 1200px){
  #section_5-slider-circle .data_cir-content span {
    width: 94%;
    font-size: 11px;
}
#section_5-slider-circle .data_cir-content span{
  width: 94%;
  font-size: 11px;
}
}