@font-face {
    font-family: soraBold;
    src: url(./fonts/Sora-Bold.ttf);
  }
.superlott{
    padding-bottom: 35px;
}
.superlott-wrapper{
    margin-top: 78px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.superlott-item{
   display: inline-block;
   text-decoration: none;
   flex: 1;
}
.superlott-item--general{
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.superlott-item--general > span {
    font-family: soraBold;
    font-size: 28px;
    color: white;

}
.superlott-img{
    width: 40px;
    height: 40px;
    display: block;
}
@media screen and (max-width : 801px) {
    .superlott-wrapper {
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .superlott-item > span {
        font-size: 20px;
    }
}
@media screen and (max-width : 551px) {
    .superlott-wrapper {
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .superlott-item > span {
        font-size: 16px;
    }
}