.why {
    background-image: url('./img/bg-why.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.block-item--check {
    display: flex;
    gap: 22px;
}
.block-item--check + .block-item--check {
    margin-top: 36px;
}
.block-item--check span {
    color: white;
    font-size: 16px;
    line-height: 1.5;
}
.block-item--check > img {
    width: 24px;
    height: 24px;
}
