@font-face {
    font-family: groteskRegular;
    src: url('./fonts/SpaceGrotesk-Regular.ttf');
  }
.spl{
    padding-bottom: 178px;
    /* background-image: url('./img/bg-spl-minning.png');
    background-size:cover ;
    background-repeat:no-repeat ; */
}
.container{

}
.spl-container{

}
.spl-img{

}

.spl-content h2{
    text-align: left;
}
.spl-item {
    display: flex;
    gap: 100px;
}
.spl-item .text-title {
    display: flex;
}
.spl-item .text-title > span {
   text-transform: uppercase;
   margin-left: 16px;
   margin-right: 16px;
   font-family: groteskRegular ;
   font-size: 12px;
    color: #ADA8C3;
}
.spl-item .text-title > span 
.desc{

}
.spl-content--item{

}
.left{

}
.sql-item--note {
    margin-top: 32px;
}
.sql-item--note .title{
font-size: 12px;
font-family: interRegular;
text-transform: uppercase;
}
.sql-item--note .date {
    font-size: 16px;
    font-family: interBold;
    line-height: 2;
    margin-top: 8px;
}
.spl-item--left > p {
    color: #F9D54A;
}
.spl-item--right > p {
    color: #00CD88;
}
.sql-item--note .title{
    font-size: 12px;
    font-family: interRegular;
    color: #8C91A2;   
    text-transform: uppercase; 
}
.spl-item--block .text-note {
    font-size: 16px;
    font-family: interSemiBold;
    margin-top: 8px;
    line-height: 1.5;
}

.title{

}
.date{

}
.right{

}
@media screen and (min-width:802px) {
    .spl-content{
        padding-top: 63px;
    }
}
@media screen and (max-width: 1260px){
.spl {
    padding-bottom: 150px;
}
.spl-item{
    gap: 50px;
}
}