.how {
    padding-top: 50px;
    padding-bottom: 100px;
}
.how-wrapper {
    display: flex;
    gap: 192px;
}
.how-list {
    margin-top: 50px;
}
.how-list h4 {
    margin-bottom: 24px;
}
.how .how-block--desc {
    margin-top: 16px;
    font-family: interRegular;
}

.how-block--desc a {
    text-decoration: none;
    color: white;
}
.how-item--check {
    display: flex;
    gap: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid rgb(255 255 255 / 10%);
}
.how-item--check img {
    width: 24px;
    height: 24px;
}
.how-block--left {
    max-width: 50%;
    width: 100%;
}
.how-block--content {
    max-width: 50%;
    width: 100%;
}
.desc {
}
.how-list {
}
.how-item {
}
.how-block--check {
}
.how-list--check {
    margin-top: 50px;
}
.how h4 {
    margin-bottom: 24px;
}
.how-wrapper--win .how-block--content {
    margin-top: 30px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(255 255 255 / 15%);
}
@media screen and (max-width: 1260px) {
    .how-wrapper {
        gap: 50px;
    }
    .how-list {
        margin-top: 25px;
    }
}
@media screen and (max-width: 992px) {
    .img-how {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 801px) {
    .how-wrapper {
        flex-direction: column;
    }
    .how-block--content {
        max-width: 100%;
    }
    .how-block--left {
        max-width: 80%;
    }
    .how .img-how {
        margin-left: auto;
        margin-right: auto;
    }
    .how-wrapper--win .how-block--content {
        margin-top: 0px;
    }
    .how-list--check.how-block--left {
        max-width: 100%;
    }
}
@media screen and (max-width: 551px) {
    .how-block--left {
        max-width: 100%;
    }
    .how {
        padding-bottom: 50px;
    }
}
