
:root {
  --yellow : #F9D54A;
  --black : #161616;
}
body {
  font-family: interRegular;
  background: #0E0C15;
  color: white;
}
body:has(ul.is-active) {
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: interBold;
  src: url(./assets/fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: interSemiBold;
  src: url(./assets/fonts/Inter-SemiBold.ttf);
}
@font-face {
  font-family: interMedium;
  src: url(./assets/fonts/Inter-Medium.ttf);
}
@font-face {
  font-family: interRegular;
  src: url(./assets/fonts/Inter-Regular.ttf);
}

.img-section{
  position: absolute;
}
.img-auto {
  margin-left: auto;
  margin-right: auto;
}
h3{
  font-size: 32px;
  font-family: interBold;
}
h4 {
  font-size: 32px;
  font-family: interRegular;
}
.general-section {
  width: 100%;
  height: 100%;
 
  position: relative;
}
.general-section::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('./components/Banner/img/bg-section.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100%;
  z-index: -1;
}


h1{
  font-size: 60px;
  font-family: interSemiBold;
}
h2{
  color: white;
  font-size: 48px;
  font-family: interSemiBold;
  text-align: center;
  margin-bottom: 80px;
}
h2.title-block {
  text-align: left;

}
p.desc {
  font-size: 16px;
  color:#B6B1C8;
  line-height: 1.5;
  font-family: interSemiBold;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
}
img.img-fluid {
  width: 100%;
  height: 100%;
  display: block;
}
.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-block{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.content-padding--right {
  padding-right: 160px;
}
.btn-block{
  margin-top: 64px;
}
.block-desc{ 
  margin-top: 24px;
  margin-bottom:40px;
}
/* general-order1--wrapper */
.general-order1--wrapper{
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
.general-order1--content{
  max-width: 40%;
  width: 100%;
}
/* general-order2--img */
.general-order2--wrapper {
  display: flex;
  gap: 120px;
  justify-content: space-between;
}
.general-order2--img{
  max-width: 60%;
  width: 100%;
  display: flex;
  align-items: center;
}
.general-order2--content{
  max-width: 40%;
  width: 100%;
}
@media screen and (max-width: 551px){
 
  
}
@media screen and (max-width: 1260px) {
  
}
@media screen and (max-width: 801px){
  h2 {
    font-size: 38px;
  }
  .general-order1--wrapper{
    gap: 50px;
    flex-direction: column-reverse;
  }
  .general-order1--content{
    max-width: 100%;
  }
  .general-order1--img{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .general-order2--img{
    max-width: 100%;
    justify-content: center;
  }
  .general-order2--content{
    max-width: 100%;
  }
  .general-order2--wrapper {
    flex-direction: column;
  } 
}
@media screen and (max-width: 551px) {
  h1{
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
}
@media screen and (min-width: 551px) { 

}
@media screen and (min-width: 801px) { 

}
@media screen and (min-width: 1261px) { 

}
.btn-default, .btn-primary {
  padding: 14px 40px;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  font-family:interBold;
  color: black;
  display: inline-block;
}
.btn-primary {
  padding: 18px 24px;
}
.btn--yellow {
  background: var(--yellow);
}
