
:root {
  --yellow : #F9D54A;
  --black : #161616;
}
body {
  font-family: interRegular;
  background: black;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: interBold;
  src: url(./assets/fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: interSemiBold;
  src: url(./assets/fonts/Inter-SemiBold.ttf);
}
@font-face {
  font-family: interMedium;
  src: url(./assets/fonts/Inter-Medium.ttf);
}
@font-face {
  font-family: interRegular;
  src: url(./assets/fonts/Inter-Regular.ttf);
}


h1{
  font-size: 60px;
  font-family: interSemiBold;
}
h2{
  color: white;
  font-size: 48px;
  font-family: interSemiBold;
  text-align: center;
}
h2.title-block {
  text-align: left;

}
p.desc {
  font-size: 16px;
  color:#B6B1C8;
  line-height: 1.5;
  font-family: interSemiBold;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.content-padding--left {
  padding-left: 160px;
}
.content-padding--right {
  padding-right: 160px;
}
.wrapper-content{
  /* max-width: 450px; */
}
.btn-block{
  margin-top: 64px;
}
@media screen and (max-width: 1260px) {
  
}
@media screen and (max-width: 801px){
  h2 {
    font-size: 38px;
  }

}
@media screen and (max-width: 551px) {
  h1{
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
}
@media screen and (min-width: 551px) { 

}
@media screen and (min-width: 801px) { 

}
@media screen and (min-width: 1261px) { 

}
.btn-default, .btn-primary {
  padding: 14px 40px;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  font-family:interBold;
  color: black;
  display: inline-block;
}
.btn-primary {
  padding: 18px 24px;
}
.btn--yellow {
  background: var(--yellow) ;
}
