.banner {
    padding-top: 80px;
    padding-bottom: 54px;
}
.banner-content {
    max-width: 992px;
    margin: 0 auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
h2.banner-title {
    font-size: 60px;
    font-family: interSemiBold;
    color: white;
}
h2.banner-title span {
    position: relative;
}
h2.banner-title span::after {
    content : "";
    position: absolute;
    bottom: -8px;
    left: 0;
    background-image: url('../Banner/img/vector_text.png');
    background-size:contain;
    background-repeat:no-repeat;
    width: 100%;
    height: 14px;
}
.banner-desc {
    margin-top: 24px;
    color: #8C91A2;
    font-size: 20px;

}
.banner-img {
    max-width: 942px;
}
.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 32px;
    margin-bottom: 54px;
}
.banner-buttons .btn-contact {
    background: white;
}
.banner-buttons .btn-sql {
    background: #F9D54A;
}
.banner .banner-contact {
    display: flex;
}
@media screen and (max-width: 801px){
    h2.banner-title{
        font-size: 45px;
    }
}
@media screen and (max-width: 551px){
    h2.banner-title{
        font-size: 35px;
    }
    .banner-buttons .btn-primary{
        padding: 14px 20px;
        height: fit-content;
        font-size: 13px;
    }
}