@font-face {
    font-family: soraBold;
    src: url(./fonts/Sora-Bold.ttf);
}

.superlott-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
.superlott-item {
    display: inline-block;
    text-decoration: none;
    flex: 1;
    max-width: 16.7%;
    width: 100%;
}
.superlott-item--general {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.superlott-item--general > span {
    font-family: soraBold;
    font-size: 28px;
    color: white;
}
.superlott-img {
    width: 40px;
    height: 40px;
    display: block;
}
@media screen and (max-width: 992px) {
    .superlott-item {
        max-width: 25%;
    }
}
@media screen and (max-width: 801px) {
    .superlott-wrapper {
        margin-top: 40px;
    }
    .superlott-item > span {
        font-size: 20px;
    }
}
@media screen and (max-width: 551px) {
    .superlott-wrapper {
        margin-top: 30px;
        gap: 50px;
    }
    .superlott-item > span {
        font-size: 16px;
    }
    .superlott-item {
        max-width: 50%;
    }
    .superlott-item--general > span {
        font-size: 20px;
    }
}
